$color-main:      #BCE3E8 //Primary 0
$color-light:     #E6F7F9 //Primary 2
$color-dark:      #8BC4CC //Primary 3
$color-highlight: #FFCFCE //Secondary2 0

$white:   #fefefe
$white1:  rgba(255,255,255,0.87)
$white2:  rgba(255,255,255,0.67)
$white3:  rgba(255,255,255,0.54)
$white4:  rgba(255,255,255,0.43)
$black1:  rgba(0,0,0,0.87)
$black2:  rgba(0,0,0,0.67)
$black3:  rgba(0,0,0,0.54)
$black4:  rgba(0,0,0,0.43)

$text-color:        $black1
$display-color:     $black3
$background-color:  $white

$hatena:    #008fde
$google:    #cc3732
$facebook:  #3b5998
$twitter:   #68aade
$pocket:    #ff004c

$brand-primary: #BCE2E8
$link-color: darken($brand-primary, 30%)
$betu: rgb(252,122,119)
$seki: rgb(0,173,231)

// SVG指定も出力するように(IE9用)
$experimental-support-for-svg: true

@import "compass/css3/images"

@mixin render($property, $value...)
  -webkit-#{$property}: $value
  -moz-#{$property}: $value
  -o-#{$property}: $value
  -ms-#{$property}: $value
  #{$property}: $value

@mixin gradient-darken($color: $black3, $lighten: 12.5%)
  background-color: $color
  @include filter-gradient(lighten($color, $lighten), $color, vertical)
  @include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%))
  //@include render(linear-gradient)

=background-white
  :background
    :color $background-color
    :image url(/creampaper/creampaper.png)
    :blend-mode overlay

body, h1, h2, h3, h4, .h1, .h2, .h3, .h4
  font-weight: 300
.page-header
  h1, .h1
    :font
      :size 4em
      :weight lighter
  .h1, .h2, .h3, .h4, .h5, .h6
    margin-bottom: 0
  h1, h2, h3, h4, h5, h6
    margin-top: 0
    margin-bottom: 0
.container .page-header
  margin-top: 0
@media (max-width: 767px) //{}
  .page-header
    h1, .h1
      :font
        :size 2em

h1,h2,h3,h4,h5,h6
  margin-top: 2em

@media (min-width: 768px) //{}
  body > .container,body > .jumbotron:not(:nth-child(2)) > .container,.navbar--bottom > .container
    width: 700px
    :margin
      :left auto
      :right auto

img
  max-width: 100%
img.media-object
  max-width: initial

hr
  height: 0
  margin-top: 0
  padding: 0
  border: 0
  border-top: 1px solid rgba(0,0,0,.1)
  border-bottom: 1px solid rgba(255,255,255,1)
.page-header
  @include render(box-shadow, inset 0 -1px 0 0 rgba(0,0,0,.1))
  border-bottom: 1px solid rgba(255,255,255,1)

.blockquote
  position: absolute
  right: 1em
  margin-top: 4%
  color: $white4
  *
    color: $white4

dd
  padding-bottom: 2em

figure
  margin: 1em 40px

.navbar
  background-color: $color-light
body > .container,body > .jumbotron,.navbar--bottom > .container
  :padding
    :top 12%
    :bottom 12%

.jumbotron
  margin-bottom: 0
  background-color: $black4
  color: white
  text-shadow: 0 0 8px $text-color
  border-radius: initial
  @include render(box-shadow, inset 0 100px 100px -75px rgba(0, 0, 0, 0.2), inset 0 -100px 100px -75px rgba(0, 0, 0, 0.66))
  min-height: initial
  :background
    :size cover
    :position center center
    :blend-mode luminosity

  a
    color: lighten($brand-primary, 7%)
    &:active,&:hover
      color: $brand-primary
  hr
    border-top: 1px solid rgba(0,0,0,.2)
    border-bottom: 1px solid rgba(255,255,255,.2)
  .page-header
    @include render(box-shadow, inset 0 -1px 0 0 rgba(0,0,0,.2))
    border-bottom: 1px solid rgba(255,255,255,.2)

  &:nth-child(2)
    :background
      :image url(/img/bg/forest.jpg)
      :blend-mode initial
    padding: 17% 0
  &:nth-child(4)
    :background
      :image url(/img/bg/skyscrapers.jpg)
      :position-y top
    :padding
      :bottom 2em
  &:nth-child(6)
    background-image: url(/img/bg/beach.jpg)
  &:nth-child(8)
    :background
      :image url(/img/bg/building.jpg)
      :position-y bottom
  &:nth-child(10)
    background-image: url(/img/bg/information.jpg)
#concept
  background-image: url(/img/bg/concept.jpg)
  background-position: top center
  padding: 12% 0
#design-assets
  background-image: url(/img/bg/design-assets.jpg)
  background-position: top center
  padding: 12% 0
body > .container:nth-child(5)
  :padding
    :top 2em

article
  header,section
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
      letter-spacing: -0.02em
      font-weight: 700
      margin-left: -1.8px
      line-height: 1.2
      margin-top: 40px
      margin-bottom: 4px
    p
      margin-bottom: 30px
    li
      margin-bottom: 15px
    p,li
      font-size: 22px
      letter-spacing: .01rem
      line-height: 2
      font-weight: 400
  > a
    color: rgba(0, 0, 0, 0.8)
    &:active,&:hover
      color: rgba(0, 0, 0, 0.8)
      text-decoration: none
    .h2,h2
      font-weight: 700
      margin-top: 16px
      margin-bottom: 6px
  .share--btn
    padding: 0 10px
  .pocket-btn
    display: inline-block
    height: 20px
    vertical-align: middle
    margin-top: -2px

@media (max-width: 767px) //{}
  article
    header,section
      .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
        line-height: 1.2
      .h1,.h2,h1,h2
        font-size: 26px
      p,li
        font-size: 20px
        line-height: 1.6

article
  header,section
    .h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
      line-height: 1.15
      letter-spacing: -0.02em
    .h1,.h2,h1,h2
      font-size: 28px
    p,li
      font-size: 18px
      line-height: 1.45
      letter-spacing: .005rem

body > footer
  margin-top: 2em
  color: $white
  @include gradient-darken()
  >.container
    padding-top: 2em
    padding-bottom: 2em
  .btn
    color: $white
    background-color: initial

.alliance
  .media:first-child
    margin-top: 15px
.alliance-business
  img
    background-color: white
    //@include render(filter, grayscale(1))
    @include render(filter, grayscale(1) contrast(0.95))
  a:hover img
    @include render(filter, saturate(1.5))
#member
  img
    @include render(filter, saturate(0.8))
  a:hover img
    @include render(filter, saturate(1.5))
  .dummy
    opacity: 0.3
.news
  img
    @include render(filter, grayscale(1))
  p
    font-size: inherit
    text-shadow: none
  a
    color: $link-color

.betu
  color: lighten($betu, 6%)
.seki
  color: lighten($seki, 6%)
