@charset "UTF-8";
/* line 46, style.sass */
body, h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
  font-weight: 300;
}

/* line 49, style.sass */
.page-header h1, .page-header .h1 {
  font-size: 4em;
  font-weight: lighter;
}

/* line 54, style.sass */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fefefe;
  background-image: url(/creampaper/creampaper.png);
  background-blend-mode: overlay;
  color: rgba(0, 0, 0, 0.87);
}

/* line 60, style.sass */
h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

/* line 62, style.sass */
.display-1, .display-2, .display-3, .display-4, .lead {
  color: rgba(0, 0, 0, 0.54);
}

/* line 64, style.sass */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, dt {
  color: rgba(0, 0, 0, 0.54);
}

/* line 67, style.sass */
a:link, a:visited, a:active {
  color: #8BC4CC;
}
/* line 69, style.sass */
a:hover {
  color: #BCE3E8;
}

@media (min-width: 768px) {
  /* line 74, style.sass */
  body > .container, body > .jumbotron:not(:nth-child(2)) > .container, .navbar--bottom > .container {
    width: 700px;
    margin: 0 auto;
  }
}
/* line 78, style.sass */
img {
  max-width: 100%;
}

/* line 80, style.sass */
img.media-object {
  max-width: initial;
}

/* line 83, style.sass */
hr {
  height: 0;
  margin-top: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

/* line 90, style.sass */
.page-header {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid white;
}

/* line 94, style.sass */
.blockquote {
  border: none;
  position: absolute;
  right: 0;
  margin-top: -6rem;
}
/* line 99, style.sass */
.blockquote a {
  color: white;
}

/* line 102, style.sass */
.navbar {
  background-color: #E6F7F9;
}

/* line 104, style.sass */
body > .container, body > .jumbotron {
  min-height: 570px;
}

/* line 106, style.sass */
body > .container, body > .jumbotron:not(:nth-child(2)), .navbar--bottom > .container {
  padding-top: 2rem;
  padding-bottom: 6rem;
}

/* line 110, style.sass */
.jumbotron {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.43);
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.87);
  border-radius: initial;
  min-height: initial;
  background-size: 100% auto;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
}
/* line 114, style.sass */
.jumbotron * {
  color: white;
}
/* line 123, style.sass */
.jumbotron:nth-child(2) {
  background-image: url(/img/jumbotron.jpg);
}
/* line 125, style.sass */
.jumbotron:nth-child(4) {
  background-image: url(/img/skyscrapers.jpg);
}
/* line 127, style.sass */
.jumbotron:nth-child(6) {
  background-image: url(/img/beach.jpg);
}
/* line 129, style.sass */
.jumbotron:nth-child(8) {
  background-image: url(/img/building.jpg);
}
/* line 131, style.sass */
.jumbotron:nth-child(10) {
  background-image: url(/img/information.jpg);
}
/* line 134, style.sass */
.jumbotron hr {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 137, style.sass */
.jumbotron .page-header {
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 143, style.sass */
article header .h1, article header .h2, article header .h3, article header .h4, article header .h5, article header .h6, article header h1, article header h2, article header h3, article header h4, article header h5, article header h6, article section .h1, article section .h2, article section .h3, article section .h4, article section .h5, article section .h6, article section h1, article section h2, article section h3, article section h4, article section h5, article section h6 {
  letter-spacing: -0.02em;
  font-weight: 700;
  margin-left: -1.8px;
  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 4px;
}
/* line 150, style.sass */
article header p, article section p {
  margin-bottom: 30px;
}
/* line 152, style.sass */
article header li, article section li {
  margin-bottom: 15px;
}
/* line 154, style.sass */
article header p, article header li, article section p, article section li {
  font-size: 22px;
  letter-spacing: 0.01rem;
  line-height: 2;
  font-weight: 400;
}
/* line 159, style.sass */
article > a {
  color: rgba(0, 0, 0, 0.8);
}
/* line 161, style.sass */
article > a:active, article > a:hover, article > a:visited {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 164, style.sass */
article > a .h2, article > a h2 {
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 6px;
}
/* line 168, style.sass */
article .share--btn {
  padding: 0 10px;
}
/* line 170, style.sass */
article .pocket-btn {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin-top: -2px;
}

/* line 177, style.sass */
.share-icon [class^="icon-"], .share-icon [class*=" icon-"] {
  color: #999999;
  text-decoration: underline !important;
  background-color: white;
}
/* line 181, style.sass */
.share-icon .icon-share-hatena {
  color: #008fde;
}
/* line 183, style.sass */
.share-icon .icon-share-hatena:hover, .share-icon .icon-share-hatena:active, .share-icon .icon-share-hatena:focus {
  color: #008fde;
}
/* line 185, style.sass */
.share-icon .icon-share-pocket {
  color: #ff004c;
}
/* line 187, style.sass */
.share-icon .icon-share-pocket:hover, .share-icon .icon-share-pocket:active, .share-icon .icon-share-pocket:focus {
  color: #ff004c;
}

@media (max-width: 767px) {
  /* line 193, style.sass */
  article header .h1, article header .h2, article header .h3, article header .h4, article header .h5, article header .h6, article header h1, article header h2, article header h3, article header h4, article header h5, article header h6, article section .h1, article section .h2, article section .h3, article section .h4, article section .h5, article section .h6, article section h1, article section h2, article section h3, article section h4, article section h5, article section h6 {
    line-height: 1.2;
  }
  /* line 195, style.sass */
  article header .h1, article header .h2, article header h1, article header h2, article section .h1, article section .h2, article section h1, article section h2 {
    font-size: 26px;
  }
  /* line 197, style.sass */
  article header p, article header li, article section p, article section li {
    font-size: 20px;
    line-height: 1.6;
  }
}
/* line 203, style.sass */
article header .h1, article header .h2, article header .h3, article header .h4, article header .h5, article header .h6, article header h1, article header h2, article header h3, article header h4, article header h5, article header h6, article section .h1, article section .h2, article section .h3, article section .h4, article section .h5, article section .h6, article section h1, article section h2, article section h3, article section h4, article section h5, article section h6 {
  line-height: 1.15;
  letter-spacing: -0.02em;
}
/* line 206, style.sass */
article header .h1, article header .h2, article header h1, article header h2, article section .h1, article section .h2, article section h1, article section h2 {
  font-size: 28px;
}
/* line 208, style.sass */
article header p, article header li, article section p, article section li {
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.005rem;
}

/* line 213, style.sass */
body > footer {
  margin-top: 2em;
  color: #fefefe;
  background-color: rgba(0, 0, 0, 0.54);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#8A202020', endColorstr='#8A000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIwLjU0Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNTQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(32, 32, 32, 0.54)), color-stop(100%, rgba(0, 0, 0, 0.54)));
  background-image: -moz-linear-gradient(rgba(32, 32, 32, 0.54) 0%, rgba(0, 0, 0, 0.54) 100%);
  background-image: -webkit-linear-gradient(rgba(32, 32, 32, 0.54) 0%, rgba(0, 0, 0, 0.54) 100%);
  background-image: linear-gradient(rgba(32, 32, 32, 0.54) 0%, rgba(0, 0, 0, 0.54) 100%);
}
/* line 217, style.sass */
body > footer > .container {
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 220, style.sass */
body > footer .btn-secondary-outline {
  color: #fefefe;
}

/* line 224, style.sass */
#share-button .btn {
  padding-top: 11px;
  padding-bottom: 11px;
}

/* line 229, style.sass */
.alliance img {
  -webkit-filter: contrast(0.87);
  -moz-filter: contrast(0.87);
  -o-filter: contrast(0.87);
  -ms-filter: contrast(0.87);
  filter: contrast(0.87);
}

/* line 232, style.sass */
.alliance-business img {
  background-color: white;
  -webkit-filter: grayscale(1) contrast(0.95);
  -moz-filter: grayscale(1) contrast(0.95);
  -o-filter: grayscale(1) contrast(0.95);
  -ms-filter: grayscale(1) contrast(0.95);
  filter: grayscale(1) contrast(0.95);
}
/* line 236, style.sass */
.alliance-business a:hover img {
  -webkit-filter: saturate(1.5);
  -moz-filter: saturate(1.5);
  -o-filter: saturate(1.5);
  -ms-filter: saturate(1.5);
  filter: saturate(1.5);
}

/* line 239, style.sass */
#member img {
  -webkit-filter: saturate(0.8);
  -moz-filter: saturate(0.8);
  -o-filter: saturate(0.8);
  -ms-filter: saturate(0.8);
  filter: saturate(0.8);
}
/* line 241, style.sass */
#member a:hover img {
  -webkit-filter: saturate(1.5);
  -moz-filter: saturate(1.5);
  -o-filter: saturate(1.5);
  -ms-filter: saturate(1.5);
  filter: saturate(1.5);
}
/* line 243, style.sass */
#member .dummy {
  opacity: 0.3;
}

/* line 246, style.sass */
#news .card-block .card-text:first-child:first-letter {
  color: rgba(0, 0, 0, 0.54);
  float: left;
  font-size: 2.5em;
  line-height: 1;
  margin: 0.1em 0.2em 0 0;
}
/* line 252, style.sass */
#news img {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
  filter: grayscale(1);
}
