!!!
%html(lang='ja')
  %head(prefix='og: http://ogp.me/ns#')
    %meta(charset='utf-8')
    %title 株式会社U360 | U360 inc.

    %meta(name='viewport' content='width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no')

    -# http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#ie-compatibility-modes
    %meta(http-equiv='X-UA-Compatible' content='IE=edge')
    -# http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#internet-explorer-10-in-windows-phone-8
    :javascript
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.querySelector('head').appendChild(msViewportStyle)
      }

    -#%link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    %link(rel='stylesheet' href='/bootstrap-v3.3.6-customize-efb69ecc7ab68ccfe37c/css/bootstrap.min.css')
    %script(src='//code.jquery.com/jquery-1.12.0.min.js')
    %script(src='/bootstrap-v3.3.6-customize-efb69ecc7ab68ccfe37c/js/bootstrap.min.js')
    %link(rel='stylesheet' href='/css/style.css')
    %link(rel='stylesheet' href='/u360/style.css')

    %meta(name='apple-mobile-web-app-title' content='U360 INC')

    -# http://lealog.hateblo.jp/entry/2015/04/20/234001
    -# iOS Safari
    %link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    -# iOS Safari(旧) / Android標準ブラウザ(一部)
    %link(rel='apple-touch-icon-precomposed' href='/apple-touch-icon.png')
    -# Android標準ブラウザ(一部)
    %link(rel='shortcut icon' href='/apple-touch-icon.png')
    -# Android Chrome
    %link(rel='icon' sizes='192x192' href='/apple-touch-icon.png')

    %script(src='/js/lazyload-image.js' async)

    -# OGP
    %meta(property='og:type' content='website')
    %meta(property='og:title' content='株式会社U360')
    %meta(itemprop='name' content='株式会社U360')
    %meta(property='og:site_name' content='株式会社U360')
    %meta(property='og:url' content='http://u360inc.com/')
    %meta(property='og:image' content='/apple-touch-icon.png')
    %link(rel='canonical' href='{{.Permalink}}')

    -# for Chrome on Android Lollipop
    %meta(name='theme-color' content='#ADE9FD')

    %link(href='{{ .RSSLink }}' rel='alternate' type='application/rss+xml' title='株式会社U360')
    %link(rel='author' href='https://plus.google.com/105627584664955860899')

    -#%link{:href => "//fonts.googleapis.com/css?family=Bitter:400,400italic", :rel => "stylesheet", :type => "text/css"}/

  %body

    %nav.navbar.navbar-default.navbar-static-top
      .container

        .navbar-header
          %button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            %img(width='22' height='22' alt='株式会社U360' src='/apple-touch-icon.png')

        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a(href='#news') ニュース
            %li
              %a(href='#about') U360について
            %li
              %a(href='#business') 事業内容
            %li
              %a(href='#member') メンバー紹介
            %li
              %a(href='#company') 会社概要
            %li
              %a(href='https://jp.wantedly.com/companies/marketingoffice' target='_blank') 採用情報
            %li
              %a(href='#inquiry') お問い合わせ
          %form.navbar-form.navbar-right(role='search')
            .form-group
              %input.form-control(type='text' placeholder='キーワードを入力')
            %button.btn.btn-default(type='submit') 検索

    .jumbotron.jumbotron-fluid
      .container.text-center
        .h1
          %span><
            差
            %span.betu>< 別
            化から
          %span><
            差
            %span.seki>< 積
            化へ
        %p
          %span><
            持続可能な
          %span><
            ビジネス創造のために

    #about.container

      .page-header
        .h1 U360について
      %p
        U360（ユーサンロクマル）は、持続可能な成長に価値を置き、自身が事業を立ち上げること、人が新しい事業を作るのを支援することを通じて、自分らしい生き方を充実させる人たちの集まりです。
        %a(href='#') 詳しくはこちら→

    .jumbotron.jumbotron-fluid
      #business.container

        .page-header
          .h1 事業内容
        U360は事業開発をめぐる問題解決・実行支援を主な事業領域としています。

    .container

      %img(width='439' height='326' style='margin-left:130px' src='/img/u360-business.svg')

      .page-header
        .h2 コンサルティング
      法人の新規事業・商品企画部門など向けに
      新事業・新商品・サービスの企画検討から事業計画の策定、プロジェクト管理、
      事業推進人材の募集・育成等に関する計画・実行ならびにファシリテーションを行います。

      .page-header
        .h2 人材育成支援

      .h4 [ 研修・ワークショップ・OJT ]
      「情報収集」や「問題解決」、「マーケティング」等のビジネス基礎スキル研修を始め、
      事業計画の磨き込みや「リーンスタートアップ」に則った顧客開発インタビュー、
      新商品・サービスのロンチ戦略PRの計画と実行など事業立ちあげなどを体験しながら
      事業開発に必要なスキルを学習・習得していくワークショップ・OJTを提供します。

      %p &nbsp;

      .h4 [ 社内トレーニング制度構築支援 ]
      育成すべき人材像の検討、必要なスキル習得に向けた研修コンテンツ・業務マニュアルの
      整備など、自社内でのトレーニング制度の確立を支援します。

      .page-header
        .h2 採用活動支援
      事業開発部門、ビジネスコンサルティング、保険会社、広報・PR、アジアビジネス向けを
      中心とした転職人材紹介を行います。

    .jumbotron.jumbotron-fluid
      #alliance.container

        .page-header
          .h1 U360の新規事業

        .row

          .media.col-xs-12.col-sm-4
            .media-left
              %img.media-object(width='58' src='/img/biriyani.png' alt='')
            .media-body.media-middle
              .h4.media-heading
                %a(href='http://www.biriyani.info/' target='_blank')>ビリヤニ協会

          .media.col-xs-12.col-sm-4
            .media-body.media-middle
              .h4.media-heading
                %a(href='https://peraichi.com/landing_pages/view/crossroad' target='_blank')>CrossRoad
              （転職支援）

          .media.col-xs-12.col-sm-4
            .media-left
              %img.media-object(width='58' src='/img/bali.svg' alt='')
            .media-body.media-middle
              .h4.media-heading
              （バリ島事業）

        .row

          %p &nbsp;
          U360は「ユニークで持続可能な事業、人をつくる」ことをミッションに自社事業にも取り組んでいます。

    #member.container

      .page-header
        .h1 メンバー紹介

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/km.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            K.M
          事業開発コンサルタント

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle.dummy(width='72' height='72' src='/img/profile.png' alt='')
        .media-body.media-middle
          .h4.media-heading
            M.Y
          プロジェクトマネージャー

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle.dummy(width='72' height='72' src='/img/profile.png' alt='')
        .media-body.media-middle
          .h4.media-heading
            T.E
          CTO

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/ss.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            S.S
          コンサルタント

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/ys.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            Y.S
          PRディレクター

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/mn.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            M.N
          コミュニティマネージャー

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/as.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            A.S
          ソーシャルプロデューサー

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/tk.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            T.K
          エスニック料理人

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object.img-circle(width='72' height='72' src='/member/yt.jpg' alt='')
        .media-body.media-middle
          .h4.media-heading
            Y.T
          エスニック料理人

    .jumbotron.jumbotron-fluid
      #alliance-business.container

        .blockquote
          %footer
            %a(target='_blank' href='https://www.flickr.com/photos/pagedooley/2060325146/') Photo
            by kevin dooley /
            %a(target='_blank' href='https://creativecommons.org/licenses/by/2.0/')CC BY

        .page-header
          .h1 提携事業

        .row.text-center.alliance-business
          .col-sm-4
            %figure.figure.m-a
              %a(href='http://mushashugyo.jp/' title='武者修行' target='_blank')
                %img.img-rounded(width='130' height='130' src='/img/partners/mushashugyo.png' alt='武者修行')
                %figcaption.figure-caption 武者修行
          .col-sm-4
            %figure.figure.m-a
              %a(href='http://www.pj-firms.com/' title='Firms' target='_blank')
                %img.img-rounded(width='130' height='130' src='/img/partners/firms.png' alt='Firms')
                %figcaption.figure-caption Firms
          .col-sm-4
            %figure.figure.m-a
              %a(href='http://www.maedajuku.com/' title='前田塾' target='_blank')
                %img.img-rounded(width='130' height='130' src='/img/partners/maedajuku.png' alt='前田塾')
                %figcaption.figure-caption 前田塾
          .col-sm-4
            %figure.figure.m-a
              %a(href='http://emotif.jp/' title='Emotif' target='_blank')
                %img.img-rounded(width='130' height='130' src='/img/partners/emotif.png' alt='Emotif')
                %figcaption.figure-caption Emotif

    #company.container

      .page-header
        .h1 会社概要

      %dl.dl-horizontal
        %dt 会社名
        %dd
          株式会社U360
          %br
          U360 CO. LTD.
        %dt 所在地
        %dd
          〒141-0031
          %a(href='https://goo.gl/maps/89dGSLCmc9A2' target='_blank')
            東京都品川区西五反田5-22-5
          藤ハイムB1F
          %br
          東急目黒線 不動前駅より徒歩4分
          %br
          JR山手線/都営浅草線/東急池上線 五反田駅より徒歩12分
        %dt 代表者
        %dd 代表取締役　三木 健吾
        %dt 設立日
        %dd 2014年10月14日
        %dt 事業内容
        %dd
          ■法人向け
          %br
          事業開発支援、人材育成支援、採用活動支援、フリーコンサルタント紹介
          %br
          ■個人向け
          %br
          転職先紹介、コンサルティング案件紹介、独立・起業支援
        %dt 顧問会計士
        %dd きずな綜合会計事務所　池本 健太郎

    .jumbotron.jumbotron-fluid
      #inquiry.container

        .blockquote
          %footer
            %a(target='_blank' href='https://www.flickr.com/photos/macabrephotographer/8351181923/') Photo
            by Jorge Gonzalez /
            %a(target='_blank' href='https://creativecommons.org/licenses/by-sa/2.0/')CC BY-SA
            \/ Modified

        .page-header
          .h1 お問い合わせ
        採用情報については、
        %a(href='https://jp.wantedly.com/companies/marketingoffice' target='_blank')> Wantedly
        よりお問い合わせください。
        %br
        %br
        その他の内容につきましては、
        %a(href='https://docs.google.com/forms/d/12PuPGUxBoi1smbauDsUxIdiQvvCOdSyMMfm9bxNsQfA/viewform' target='_blank')> お問い合せフォーム
        よりお問い合わせください。

    #news.container

      .page-header
        .h1 ニュース

      .row

        .col-sm-4
          .thumbnail
            %img(src='/img/city-1026227_640.jpg')
            .caption
              %p
                表参道COMMUNE246の
                %a(href='http://freedom-univ.com/freeuni/2014_12_24_3951.html' target='_blank')>自由大学新校舎設立プロジェクト
                のクラウドファンディング支援者として掲載されました。
              %p
                %small.text-muted
                  2014年12月24日

        .col-sm-4
          .thumbnail
            %img(src='/img/model-1007193_640.jpg')
            .caption
              %p
                %a(href='http://willfu.jp/startup_village/' target='_blank')> 学生起業家シェアハウス「WILLFU Startup Village」
                に起業メンターとして紹介されました。
              %p
                %small.text-muted
                  2014年10月28日

        .col-sm-4
          .thumbnail
            %img(src='/img/milky-way-1023340_640.jpg')
            .caption
              %p
                事業創発集団 株式会社U360（ユーサンロクマル、東京都品川区）を法人登記しました。
              %p
                %small.text-muted
                  2014年10月14日

    %footer
      .container
        %address.pull-left
          %strong(style='margin-right:1em;') 株式会社U360
          %br
          〒141-0031
          東京都品川区西五反田5-22-5
          藤ハイムB1F
        %p.pull-right.text-right
          %a.btn.btn-default.btn-sm(href='https://www.facebook.com/u360.company')
            %span.icon-facebook
            Facebook
          %a.btn.btn-default.btn-sm(href='/design-assets.html') デザインガイドライン
          %br
          &copy;&nbsp;2014-
          %span#this-year> 2016
          &nbsp;U360 CO. LTD.

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12345678-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

    :javascript
      document.getElementById('this-year').textContent = new Date().getFullYear();
