!!!
{% import '_variable.html' as var with context %}
%html(lang='ja')
  %head(prefix='og: http://ogp.me/ns#')
    %meta(charset='utf-8')
    %title {%if title%}{{title}} | {%endif%}株式会社U360

    %meta(name='viewport' content='width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no')

    -#%link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    %link(rel='stylesheet' href='/bootstrap-v3.3.6-customize/css/bootstrap.min.css')
    %script(async src='//code.jquery.com/jquery-1.12.0.min.js')
    %script(async src='/bootstrap-v3.3.6-customize/js/bootstrap.min.js')
    %link(rel='stylesheet' href='/css/style.min.css')

    %meta(name='apple-mobile-web-app-title' content='U360 INC')

    -# http://lealog.hateblo.jp/entry/2015/04/20/234001
    -# iOS Safari
    %link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
    -# iOS Safari(旧) / Android標準ブラウザ(一部)
    %link(rel='apple-touch-icon-precomposed' href='/apple-touch-icon.png')
    -# Android標準ブラウザ(一部)
    %link(rel='shortcut icon' href='/apple-touch-icon.png')
    -# Android Chrome
    %link(rel='icon' sizes='192x192' href='/apple-touch-icon.png')

    %script(src='/js/lazyload-image.js' async)

    -# OGP
    %meta(itemprop='name' content='株式会社U360')
    %meta(property='og:site_name' content='株式会社U360')
    %meta(property='og:type' content='{%if index%}website{%else%}article{%endif%}')
    {%if title%}
    %meta(property='og:title' content='{{title}}')
    {%endif%}
    {%if var.fb_app_id%}
    %meta(property='fb:app_id' content='{{var.fb_app_id}}')
    {%endif%}

    -# for Chrome on Android Lollipop
    %meta(name='theme-color' content='#ADE9FD')

    {%if var.author%}
    %link(rel='author' href='{{var.author}}')
    {%endif%}

    :coffee
      window._loadScript = ((d, id, src) ->
        if d.getElementById(id) isnt null
          return
        e = d.createElement('script')
        e.id = id
        e.src = src
        e.async = true
        (d.getElementsByTagName('head')[0] or d.getElementsByTagName('body')[0]).appendChild(e)
        return
      ).bind(null, document)

  %body

    %nav.navbar.navbar-default.navbar-static-top
      .container

        .navbar-header
          %button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar-collapse')
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href='/')
            %img(width='22' height='22' alt='株式会社U360' src='/img/logo-icon-22x22.png')

        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a(href='/#news') ニュース
            %li
              %a(href='/#about') U360について
            %li
              %a(href='/#business') 事業内容
            %li
              %a(href='/#member') メンバー紹介
            %li
              %a(href='/#company') 会社概要
            %li
              %a(href='https://jp.wantedly.com/companies/marketingoffice' target='_blank') 採用情報
            %li
              %a(href='/#inquiry') お問い合わせ

          {% if var.gcse_cx %}
          %form#cse-search-box.navbar-form.navbar-right(name='cse' role='search' action='//cse.google.com/cse/home' target='_blank' accept-charset='utf-8')
            .form-group
              %input#q.form-control(name='q' type='text' placeholder='キーワードを入力' autocomplete='off' x-webkit-speech='' spellcheck='false' required onfocus='_loadCse()')
            %button#search-button.btn.btn-default(name='sa' type='submit' onClick='return _cse()') 検索
            %input(name='cx' type='hidden' value='{{gcse_cx}}')
          :coffee
            _loadCse = window._loadCse or = ->
              _loadScript('_loadCse', '//cse.google.com/cse.js?cx={{var.gcse_cx}}')
              return
            setTimeout(_loadCse, 6000)
            _cse = window._cse or = ->
              cse.q.blur()
              gsc = document.getElementById('gsc-i-id1')
              if gsc is null
                return true
              gsc.value = cse.q.value
              document.querySelector('input.gsc-search-button').click()
              cse.reset()
              return false
          -# http://www.am22tech.com/google-custom-search-input-box-conflicting-bootstrap-css/
          :sass
            input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
              box-sizing: content-box
              line-height: normal
          :sass
            .gsc-control-cse
              border-color: rgba(0,0,0,0)
              background-color: rgba(0,0,0,0)
            .gsc-input-box
              color: rgba(0,0,0,0.67)
            .gsib_b
              padding-top: 4px
            .gsc-selected-option
              white-space: nowrap
            @media (max-width: 767px) //{}
              .gsc-results-wrapper-overlay
                left: 3%
                top: 2%
                width: 94%
                height: 96%
                padding: 30px 15px 15px
          {% endif %}

    {% block content %}{% endblock %}

    %footer
      .container
        %address.pull-left
          %strong(style='margin-right:1em;') 株式会社U360
          %br
          〒141-0031
          東京都品川区西五反田5-22-5
          藤ハイムB1F
        -# Google Custom Search
        .col-xs-12.col-sm-5.pull-right(style='padding-right:0')
          %gcse:search
        %p.pull-right.text-right
          %a.btn.btn-default.btn-sm(href='https://www.facebook.com/u360.company')
            %span.icon-facebook
            Facebook
          %a.btn.btn-default.btn-sm(href='/design-assets.html') デザインガイドライン
          %br
          &copy;&nbsp;2014-
          %span#this-year> {{var.year}}
          &nbsp;U360 CO. LTD.

    :javascript
      document.getElementById('this-year').textContent = new Date().getFullYear();

    {%if var.google_analytics%}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{var.google_analytics}}', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    {%endif%}

-# https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery
%link(rel='stylesheet' href='/u360/style.css')
-#%link{:href => "//fonts.googleapis.com/css?family=Bitter:400,400italic", :rel => "stylesheet", :type => "text/css"}/
