{% set author = 'https://plus.google.com/105627584664955860899' %}
{% set fb_app_id = '1666962163580988' %}
{% set gcse_cx = _('008442789637795532658:a63p7tftydo') %}
{% set google_analytics = 'UA-72551250-1' %}
{% set year = 2016 %}
