{% extends '_base.html' %}
{% set title = 'コンセプト' %}
{% block content %}
#concept.jumbotron

.container

  .page-header
    %h1 事業創発集団

  %p
    U360が標榜する「事業創発集団」とは、ユニークで持続可能な事業・人を作り出すという目的を持った組織であり、また自由な発想で生きるフリーランサー・企業家が集まるコミュニティでもあります。自立したプロフェッショナルが集まって協働・相互扶助することで1人ではできないことを行うー個の限界を、集の力で乗り越えるーことを目指しています。
  %p
    各々が得意とする領域や手掛けるプロジェクトはさまざまです。事業内容に基づいて作られた組織にはない多様性があります。U360は多様な個人が信頼関係&#x2015;ヨコのつながり&#x2015;を築き、有機的なプロジェクトチームを結成して仕事を行います。多様な点（個性）を結んでユニークなかたちの線・面（事業）を作っている&#x2015;個人の副業を認めている会社組織の逆&#x2015;をイメージされると良いでしょう。
  %p
    独立自主のチームランサーとして新しいワークスタイルを体現することで、1人1人がユニークで持続可能な生き方の一助となれれば幸いです。

  %p &nbsp;

  .page-header
    %h1 U360が重視する価値観

  %p
    U360では最初から重視する価値観を掲げていたわけではありません。むしろ新しいワークスタイルを模索しているうちに、自然と3つの近しい価値観&#x2015;自由・個性・持続可能&#x2015;があることに気づきました。
  %p
    自由
    %br
    生計が成り立ち、表現の自由、他者に強制されない選択の自由を追求する。
  %p
    個性
    %br
    ユニークさを歓迎する、競合や前例がないことをどうやるか。
  %p
    持続可能
    %br
    いたずらな規模拡大、急成長を志向せず、自分たちが決めたペースで継続的に存在する。

  %p &nbsp;

  .page-header
    %h1 差別化から「差積化（させきか）」へ

  %p
    U360の価値観を体現するうえでキーとなる事業コンセプトが差積化（させきか）です。
  %p
    差積化とは差別化と対となるビジネス概念で、差別化が「スタート時点」での違いを作ることだとすれば、差積化は事業が「進捗すればするほど」違いが広がっていく仕組みを持つことを意味します。
  %p
    小さなリソースで事業立ち上げやマーケティングを検討する際は「売れること」以上に「売れ続けること」を考えるかことが大切です。上手くいったら誰かが真似してくる（近年の日本国内市場はこの傾向が特に強い）ため、消耗戦になると個人や小さな会社では不利に陥りかねないからです。
  %p
    商品・サービスがユニークであるのみならず、業務プロセスや販売チャネル、消費者の関与といったビジネスダイナミクスを念頭に入れたビジネスモデル設計による、持続可能なビジネス創造が肝要になります。
  %p
    U360では差積化についての事例、アプローチなどを探求し、情報発信を行っています。
  %a(href='https://medium.com/%E5%B7%AE%E7%A9%8D%E5%8C%96-%E3%81%95%E3%81%9B%E3%81%8D%E3%81%8B-%E3%83%96%E3%83%AD%E3%82%B0' target='_blank')
    差積化ブログ
  %p &nbsp;

  .page-header
    .h1 代表メッセージ

  %p
    いつも知的好奇心に素直になり、興味を持ったこと、真実を追いかける。
    %br
    個々が「自己実現」&#x2015;人生のミッションと日々の営みが繋がる&#x2015;できる。
    %br
    強い人間が生き残ることのできる資本主義社会で「急成長」よりも「持続可能」を大切にする。
  %p
    大切にしたい価値観を前面に打ち出し、働けるようになったのは自身の努力以上に周囲の人たちに恵まれ、先人たちからのバトンを受け取ったからだ、と思っています。そして、受け取ったバトンを次の人達に渡したい&#x2015;自由なワークスタイルを目指す個人に1人でも2人でも、手を差し伸べたい&#x2015;と考えるようになりました。
  %p
    社会問題の解決やより良い世界のためのインフラを作ろうと日々精進する企業家に敬意を評します。アップルが作ったMacBookAirが、ソフトバンクが敷いたWi-Fiネットワークが、コーヒー1杯の値段で作業場所を提供してくれるスターバックスがあるから、ノマドワーカーは仕事をすることができます。
  %p
    私は、世の中へのインパクトはとても小さいかもしれないですが、自分の目に映る人を助ける、ということを続けたいと考えています。初めから大きなことをやろうとするのではなく、マザーテレサが目の前の人を助けることを続けたように、一人ひとりが自分の目に映る人を幸せにする、という小さなことを積み重ねていきたい。そうした考えを、個人個人が実践するような輪が広がっていけば、より生きやすい世界ができると確信しています。
  %p
    2015年1月　ファウンダー　三木健吾

{% endblock %}
