{% extends '_base.html' %}
{% block title %}コンセプト{% endblock %}
{% block content %}
#concept.jumbotron

.container

  .page-header
    %h1 U360のコンセプト

  %p
    強い人間が生き残ることのできる資本主義社会で、「急成長」よりも「持続可能」を大切にしたい。そのためには、「自己実現」ー個人の人生のミッションと日々の営みが繋がっている状態ーが大事だと考えています。
  %p
    個人的な話になりますが、私（代表・三木）はスーパー店員、経営コンサルタント、CSRベンチャー、スポーツビジネス、飲食サービス起業、PR代理店、、大企業から個人商店まで、20代のときにさまざまな仕事をする中で、いろんなモチベーションで働く人たちと出会いました。
  %p
    今、私の回りにはインドのエスニック料理を国民食にしようというサラリーマン、子育てとキャリアの両立を目指すワーキングマザー、プロボノでNPO向けにアプリを作るエンジニア、世界一周旅行をしながら食文化、自然遺産の啓蒙を行う夫婦、重い病気のリハビリをしながら在宅で自身のできる仕事を模索する男性など、さまざまなワークスタイルを模索している人たちなどがいます。
  %p
    （株）U360は、様々なモチベーションで働く個々が生きがいを感じられる職場、自由なワークスタイルを確立することを目指しています。一般的に自由な働き方を志向する人は「フリーランス」を目指しますが、人ひとりでできることの限界はあると感じています。自分の身ひとつでいることは確かに気楽ですが、実現したワークスタイルを持った者たち同士の協働・相互扶助によってできることも増えます。
  %p
    たとえば、私は年に数回、1・2ヶ月というまとまった時間を海外で過ごします。些細な話ではありますが、不在となるときの郵便物の受け取り、公共料金の支払い、ネット通販の配送、車の管理、住居の戸締まりなどを面倒を見てもらったり、ということがあります。お互いの仕事、人生に対する敬意を持ち、継続的な信頼関係を築くことによって、ずっと楽に生きられると思うのです。
  %p
    お金を稼がなければいけないという義務感から、やりがいを見いだせない不本意な仕事を続けるのではなく、自身が心から取り組みたいと思える仕事を形にすることも大事です。しかし得てして、そうした独立・起業は最初がいちばんしんどいことも知っています。
  %p
    私は幸いにして社会人歴10年ほどで、自分の身ひとつは大丈夫かな、という実感を持てるようになりました。ペイ・フォワードという映画がありますが、そうした境地に立てたのは自身の努力以上に周囲の人たちに恵まれ、先人たちからのバトンを受け取ったという気持ちが強いです。なので今度は、自由なワークスタイルを目指す個人に1人でも2人でも、手を差し伸べたいと考えています。
  %p
    社会問題の解決やより良い世界のためのインフラを作ろうと日々精進する起業家に敬意を評します。ただ私は、世の中へのインパクトとしてはとても小さいかもしれないですが、自分の目に映る人を助ける、という考えをとります。一人ひとりが、自分の目に映る人を幸せにする、という輪が広がれば、より良い世界を作ることができます。
  %p
    U360は、自己実現と社会貢献を両立する組織であり、またコミュニティでもあることを理想とし、日々精進していきます。

  %p &nbsp;

  .page-header
    .h1 事業創発とは

  %p
    （株）U360には「事業創発集団」をコンセプトに、自分自身が事業を立ち上げたり、周囲の人が新しい事業を作るのを支援することを通じて、自分らしい人生を充実させる人たちが集まっています。
  %p
    「急成長」よりも「持続可能」に価値を置き、社員一人ひとりが年に最低１回は１ヶ月の海外旅行ができる、子育てや海外渡航、Wスクール、NPO活動などを行いながらも、各々の立ち位置から自己実現を目指せる会社を目指しています。
{% endblock %}
