{% extends '_base.html' %}
{% set index = true %}
{% set title = _('U360について') %}
{% block content %}
.jumbotron.jumbotron-fluid
  .container.text-center
    .media-middle
      .h1
        {{_("
        %span><
          差
          %span.betu>< 別
          化から
        %span><
          差
          %span.seki>< 積
          化へ
        ")}}
      %p
        {{_("
        %span><
          ユニークで持続可能な
        %span><
          事業・人をつくる
        ")}}

#about.container

  .page-header
    %h1 {{_("U360について ")}}
  %p
    {{_("
    U360（ユーサンロクマル）は、
    %a(href='/concept.html#事業創発集団')>< 「差積化（させきか）」
    によってユニークで持続可能な事業・人をつくる事業創発集団です。
    ")}}

  .row
    %a.btn.btn-default.btn-lg.col-xs-offset-2.col-xs-8(href='{%if lang != "ja"%}/{{lang}}{%endif%}/concept.html') {{_("詳しくはこちら")}}

#business.jumbotron.jumbotron-fluid
  .container

    .page-header
      %h1 {{_("事業内容")}}
    %p
      {{_("U360は事業開発をめぐる問題解決・実行支援を主な事業領域としています。")}}

.container

  .text-center
    %img(src='{%if lang != "ja"%}/{{lang}}{%endif%}/svg/u360-business.svg')

  .page-header
    .h2 {{_("事業開発コンサルティング")}}
  %p
    {{_("法人の新規事業・商品企画部門などに向けて新事業・商品・サービスの企画検討や事業計画の策定、プロジェクト管理、事業推進人材の募集・育成等に関する計画・実行ならびにファシリテーションなどを行います。")}}

  .page-header
    .h2 {{_("人材育成ファシリテーター")}}

  .h4 {{_("[ 研修・ワークショップ・OJT ]")}}
  %p
    {{_("「情報収集」や「問題解決」、「マーケティング」等のビジネススキル研修を始め、事業計画の磨き込みや「リーンスタートアップ」に則った顧客開発インタビュー、新商品・サービスのロンチ戦略PRの計画と実行を通じたアクションラーニングなど、事業開発に必要なスキルを学習・習得していくワークショップ・OJTを提供します。")}}

  .h4 {{_("[ 社内トレーニング制度構築支援 ]")}}
  %p
    {{_("育成すべき人材像の検討、必要なスキル習得に向けた研修コンテンツ・業務マニュアルの整備など、自社内でのトレーニング制度の確立を支援します。")}}

  .page-header
    .h2 {{_("コンサル転職支援")}}
  %p
    {{_("異業種からコンサルティング業界への転職、女性のコンサルティング業界への転職を中心に転職人材紹介を行います。")}}

  .page-header
    .h2 {{_("広報・PR活動支援")}}
  %p
    {{_("新商品・サービスのロンチのPR活動の企画検討や自社広報部門の立ち上げ、プレスリリースの作成代行など広報・PR機能の強化に取り組みます。")}}

#alliance.jumbotron.jumbotron-fluid
  .container.alliance

    .page-header
      %h1 {{_("U360の運営事業")}}

    .row.container

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object(width='72' src='/img/alliance/biriyani.png' alt='')
        .media-body.media-middle
          .h4.media-heading
            %a(href='http://www.biriyani.info/' target='_blank')>{{_("日本ビリヤニ協会")}}

      .media.col-xs-12.col-sm-4
        .media-left
          %svg.img-rounded(xmlns='http://www.w3.org/2000/svg' height='60' width='60' style='text-anchor:middle')
            %rect(height='100%' width='100%' fill='#202020')
            %text(font-size='42px' y='75%' x='50%' fill='#fefefe') C
        .media-body.media-middle
          .h4.media-heading
            %a(href='https://peraichi.com/landing_pages/view/u360knt/' target='_blank')>ぶっちゃけコンサル転職
          {{_("（転職・キャリア相談）")}}

      .media.col-xs-12.col-sm-4
        .media-left
          %img.media-object(width='72' src='/img/alliance/bali.svg' alt='')
        .media-body.media-middle
          .h4.media-heading
          {{_("（バリ事業）")}}

    .row.container

      %p &nbsp;
      %p
        {{_("U360は「ユニークで持続可能な事業、人をつくる」ことをミッションに自社事業に取り組んでいます。")}}

#member.container

  .page-header
    %h1 {{_("メンバー紹介")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/km.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Kengo
      {{_("事業開発コンサルタント")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle.dummy(width='72' height='72' src='/img/member/profile.png' alt='')
    .media-body.media-middle
      .h4.media-heading
        Masami
      {{_("プロジェクトマネージャー")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle.dummy(width='72' height='72' src='/img/member/profile.png' alt='')
    .media-body.media-middle
      .h4.media-heading
        Takanao
      {{_("ITアドバイザー")}}

  .row

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/ys.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Yoko
      {{_("PRディレクター")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/tk.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Taro
      {{_("ビリヤニ探求家")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle.dummy(width='72' height='72' src='/img/member/profile.png' alt='')
    .media-body.media-middle
      .h4.media-heading
        Kanako
      {{_("翻訳・リサーチャー")}}

  %p &nbsp;

  .page-header
    .h1 {{_("パートナー")}}
    
  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/ss.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Shohei
      {{_("コンサルタント")}}
      
  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle.dummy(width='72' height='72' src='/img/member/profile.png' alt='')
    .media-body.media-middle
      .h4.media-heading
        Kenichi
      {{_("業務改善コンサルタント")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/as.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Atsuhiko
      {{_("ソーシャルプロデューサー")}}

  .row

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/mn.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Momoko
      {{_("コミュニティマネージャー")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle(width='72' height='72' src='/img/member/yt.jpg' alt='')
    .media-body.media-middle
      .h4.media-heading
        Yuka
      {{_("レバノン料理研究家")}}

  .media.col-xs-12.col-sm-4
    .media-left
      %img.media-object.img-circle.dummy(width='72' height='72' src='/img/member/profile.png' alt='')
    .media-body.media-middle
      .h4.media-heading
        Satoko
      {{_("ヨガインストラクター")}}

  %p &nbsp;

#alliance-business.jumbotron.jumbotron-fluid
  .container

    .page-header
      %h1 {{_("サポート事業")}}

    .text-center.alliance-business

      .row
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://mushashugyo.jp/' title='{{_("海外ビジネス武者修行プログラム")}}' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/mushashugyo.png' alt='{{_("武者修行")}}')
              %figcaption.figure-caption {{_("海外インターンシップ")}}
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://www.pj-firms.com/' title='Firms' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/firms.png' alt='Firms')
              %figcaption.figure-caption {{_("コンサルタントコミュニティ")}}
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://www.maedajuku.com/' title='{{_("前田塾")}}' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/maedajuku.png' alt='{{_("前田塾")}}')
              %figcaption.figure-caption {{_("若手向けビジネス塾")}}

      .row
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://willfu.jp/' title='WILLFU' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/willfu.jpg' alt='WILLFU')
              %figcaption.figure-caption {{_("学生起業スクール")}}
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://emotif.jp/' title='Emotif' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/emotif.png' alt='Emotif')
              %figcaption.figure-caption {{_("フォトスタジオ")}}
        .col-sm-4
          %figure.figure.m-a
            %a(href='http://guide.travel.co.jp/navigtr/416/' title='{{_("世界遺産探検家")}}' target='_blank')
              %img.img-rounded(width='130' height='130' src='/img/business/whh.jpg' alt='{{_("世界遺産探検家")}}')
              %figcaption.figure-caption {{_("世界遺産探検家")}}

  .blockquote
    %footer.h6
      %a(target='_blank' href='https://www.flickr.com/photos/pagedooley/2060325146/') Photo
      by kevin dooley /
      %a(target='_blank' href='https://creativecommons.org/licenses/by/2.0/')CC BY

#company.container

  .page-header
    %h1 {{_("会社概要")}}

  %dl.dl-horizontal
    %dt {{_("会社名")}}
    %dd
      {{_("
      株式会社U360
      %br
      カブシキガイシャ ユーサンロクマル
      %br
      ")}}
      U360 CO. LTD,
    %dt {{_("所在地")}}
    %dd
      %address
        {{_("
        兵庫県川西市
        ")}}
        %br
        {{_("
        阪急宝塚線川西能勢口駅/JR福知山線川西池田駅 よりバス・タクシー等
        ")}}
    %dt {{_("代表者")}}
    %dd {{_("代表取締役　三木 健吾")}}
    %dt {{_("設立日")}}
    %dd {{_("2014年10月14日")}}
    %dt {{_("事業内容 ")}}
    %dd
      {{_("
      ■法人向け（BtoB）
      %br
      事業開発・ブランドマーケティング支援（事業計画・マーケティング戦略の策定、事業立ち上げ・ＰＲ実務、関西進出など）、人材育成ファシリテーター、コンサル人材サーチ（転職候補者・フリーランス）、システム開発（WEBサイト、iOSアプリ、ディープラーニングほか）
      %br
      ■個人向け（BtoC）
      %br
      コンサル転職紹介、独立・起業支援（コンサル・ＰＲ案件紹介含む）、ビリヤニ関連商品のネット通販、ビリヤニ関連のコミュニティ・飲食イベント・料理教室の運営
      ")}}
    %dt {{_("顧問税理士")}}
    %dd {{_("きずな綜合会計事務所（東京都中央区）")}}

#inquiry.jumbotron.jumbotron-fluid
  .container.news

    .page-header
      %h1 {{_("お問い合わせ")}}

    %p
      {{_("
      採用情報については、
      %a(href='https://jp.wantedly.com/companies/marketingoffice' target='_blank')> Wantedly
      よりお問い合わせください。
      ")}}
    %p
      {{_("
      その他の内容につきましては、
      %a(href='https://docs.google.com/forms/d/12PuPGUxBoi1smbauDsUxIdiQvvCOdSyMMfm9bxNsQfA/viewform' target='_blank')> お問い合せフォーム
      よりお問い合わせください。
      ")}}

  .blockquote
    %footer.h6
      %a(target='_blank' href='https://www.flickr.com/photos/macabrephotographer/8351181923/') Photo
      by Jorge Gonzalez /
      %a(target='_blank' href='https://creativecommons.org/licenses/by-sa/2.0/')CC BY-SA
      \/ Modified

#news.news.container

  .page-header
    %h1 {{_("ニュース")}}

  .row

    .col-sm-4
      .thumbnail
        %img(src='/img/news/city-1026227_640.jpg')
        .caption
          %p
            株式会社U360の国内事業拠点を東京都から京都府に移転しました。
          %p
            %small.text-muted
              {{date('2016年11月1日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/model-1007193_640.jpg')
        .caption
          %p
            業務提携により
            %a(href='https://peraichi.com/landing_pages/view/u360knt/' target='_blank')> ぶっちゃけコンサル転職
            （異業種からコンサルティング業界への転職、女性のコンサルティング業界転職）を開始しました。
          %p
            %small.text-muted
              {{date('2016年8月1日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/milky-way-1023340_640.jpg')
        .caption
          %p
            日本ビリヤニ協会設立より5年、
            %a(href='https://www.facebook.com/biriyani/' target='_blank')> Facebookページ
            フォロワーが5000名を突破しました。
          %p
            %small.text-muted
              {{date('2016年3月29日')}}

  .row

    .col-sm-4
      .thumbnail
        %img(src='/img/news/city-1026227_640.jpg')
        .caption
          %p
            若手ビジネスパーソン養成の
            %a(href='http://www.maedajuku.com/maedajuku-3/maedajuku_teacher' target='_blank')>前田塾
            の特別講師（独立・個人事業 担当）として紹介されました。
          %p
            %small.text-muted
              {{date('2015年10月28日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/model-1007193_640.jpg')
        .caption
          %p
            %a(href='http://mushashugyo.jp/facilitator/' target='_blank')> 海外ビジネス武者修行プログラム
            のビジネスファシリテーターとして紹介されました。
          %p
            %small.text-muted
              {{date('2015年10月14日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/milky-way-1023340_640.jpg')
        .caption
          %p
            日本ビリヤニ協会の
            %a(href='https://www.biriyani.info/' target='_blank')> ホームページ
            を開設しました。
          %p
            %small.text-muted
              {{date('2015年3月3日')}}

  .row

    .col-sm-4
      .thumbnail
        %img(src='/img/news/city-1026227_640.jpg')
        .caption
          %p
            表参道COMMUNE246の
            %a(href='http://freedom-univ.com/freeuni/2014_12_24_3951.html' target='_blank')>自由大学新校舎設立プロジェクト
            のクラウドファンディング支援者として掲載されました。
          %p
            %small.text-muted
              {{date('2014年12月24日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/model-1007193_640.jpg')
        .caption
          %p
            %a(href='http://willfu.jp/startup_village/' target='_blank')> 学生起業家シェアハウス「WILLFU Startup Village」
            に起業メンターとして紹介されました。
          %p
            %small.text-muted
              {{date('2014年10月28日')}}

    .col-sm-4
      .thumbnail
        %img(src='/img/news/milky-way-1023340_640.jpg')
        .caption
          %p
            {{_("株式会社U360（ユーサンロクマル、東京都品川区）を法人登記しました。")}}
          %p
            %small.text-muted
              {{date('2014年10月14日')}}


  .row
    .col-xs-12.col-sm-6
      %a.m-collection(href='https://medium.com/@kengomiki' data-width='100%' data-collapsed='true')
        {{_("代表者ブログ")}}
    .col-xs-12.col-sm-6
      %a.m-profile(href='https://medium.com/@kengomiki' data-width='100%')
        {{_("代表者ブログ")}}
    -# https://medium.com/@Medium/embed-medium-anywhere-3eaed64aed8a
    %script(async src='//static.medium.com/embed.js')

{% endblock %}
